.table-headers{

    font-size: 18px;
}

.content{

    font-size: 16px;
    font-weight: 500;
}

.update-data{
 padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
  }
  .round-border{
      border-radius: 20px;
  }
 